<div class="container-fluid">
    <div class="container container-login">
        <div class="row w-100 d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Login</h1>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <mdb-form-control class="mt-4">
                                <input mdbInput formControlName="email" type="text" id="email" class="form-control" />
                                <label mdbLabel class="form-label" for="form1">Usuário</label>
                            </mdb-form-control>
                            <mdb-form-control class="mt-4">
                                <input mdbInput type="password" formControlName="password" id="password" class="form-control" />
                                <label mdbLabel class="form-label" for="form1">Senha</label>
                            </mdb-form-control>
                            <button [disabled]="disabled" type="submit" class="btn btn-primary btn-rounded mt-4 w-100"
                                mdbRipple>Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>